@import "./variables";

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin linkStyling() {
    a {
        text-decoration: none;
        color: $inActiveLinkColor;
        font-weight: bold;
    }
}

@mixin hoverLink() {
        color: $fontColor;
        cursor: pointer;
    }

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    background-color: $backgroundColor;

    .logoLink {
        padding-left: 5rem;
        max-width: 20rem;
        
        img{
            max-width: 80%;
        }
    }
    
    .loginLinks {
        padding-right: 5rem;
        display: flex;
        align-items: center;
        
        a{
            text-decoration: none;
            padding-left: 1rem;
            color: $inActiveLinkColor;
            font-weight: bold;
            &:hover {
                @include hoverLink();
            }
        }

        .registerLinkBox {
            @include flexCenter(row);
            background-color: $highlightColor;
            height: 3rem;
            width: 7rem;
            text-align: center;
            border-radius: 10rem;
                a{
                    color: white;
                    &:hover {
                        @include hoverLink();
                        background-color: #ff385db0;
                    }
                }
            }
        }
    }


.headerLink {
    padding-right: 1rem;
    }


nav {
    .headerLink {
        font-size: 1rem;
        padding-right: 2rem;
    }
    a {
        text-decoration: none;
        color: $inActiveLinkColor;
        font-weight: bold;
        &:hover {
            @include hoverLink();
        }
}}

.active {
    color: $secondFontColor;
    text-decoration-color: $highlightColor;
    text-decoration-line: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 7px;
    // background: linear-gradient(90deg, rgba(255,255,255,0) 14%, rgba(255,56,92,1) 50%, rgba(252,252,252,0) 90%);
    // background-position: 0 100%;
    // background-size: 100% 5px;
    // background-repeat: repeat-x;
    // border-radius: 10rem;
}

.footerWrapper {
    @extend .headerWrapper;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 3rem;
    .footerColumns {
       @include flexCenter(row);
       .footerColumn {
        display:flex;
        flex-direction: column;

       }
    }

}

.footerLinksleft {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
    padding-left: 5rem;
    // padding-left: 5rem;
    max-width: 20rem;
    p {
        text-align: left;
    }
    .logoLinkFooter {
        padding:0;
        img {
            width: 80%;
        }
    }
    .socialLinks {
        display: flex;
        justify-content: space-around;
        a {
            padding-right: 2rem;
        }
        
    }
    .footerColumns {
        @include flexCenter(row);
        justify-content: space-evenly;
    }
}

.footerColumn {
    padding-right: 5rem;
    @include linkStyling();
    row-gap: 1.5rem;
    text-align: left;
    a:hover{
        @include hoverLink();
    }

}

.newsletter {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 2rem;
    padding-right: 5rem;
    p {
        max-width: 80%;
    }
    form {
        display: flex;
        input {
            margin-right: 1rem;
            border: hidden;
            background-color: whitesmoke;
            padding: 0.5rem;
            border-radius: 1rem;
            min-width: 14rem;
            text-align: center;
            &:focus {
                outline-style: solid;
                outline-color: $highlightColor;
                outline-width: 0.2rem;
                border: hidden;
                background-color: $backgroundColor;
                &::placeholder{
                    color: transparent;
                }
            }
        }
        button {
            border-radius: 10rem;
            width: 2rem;
            height: 2rem;
            border-color: transparent;
            background-color: $highlightColor;
            &:hover{
                cursor: pointer;
                background-color: #ff385db0;
            }
        }
    }
}