.placePreviews {
    display: flex;
    justify-content: flex-start;
    max-width: 80rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.placeSlider {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 15rem;
}

.singlePlace {
    padding-right: 1rem;
}