/* Gesamter component in stagetwocontainer */

.stageTwoContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
}

/* Image Container */

.stageTwoContainerLeft {
    width: 50%;
    background-image: url("../img/stageTwoContainerLeftImg1.jpg");
    background-position: 0%;
    border-radius: 250px;
    padding: 10%;
    
}

/* .stageTwoContainerLeftImg1 {
    width: 50%;
    height: 60%;
    border-radius: 30px;
    align-content: center;
    border: 12px solid #FFFFFF
    position: relative;
    width: 565px;
    height: 579px;
    left: 134px;
    top: 883px;
    border-radius: 125px;
    object-fit: cover;
} */

/* .stageTwoContainerLeftImg2 {
    width: 50%;
    border: 12px solid #FFFFFF;
    border-radius: 125px;
    object-fit: cover;
} */

/* Text Container */

.stageTwoContainerRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 6rem 4rem;
    text-align: left;
}
.stageTwoContainerRight h3 {
    color: #E61C5D;
    font-weight: bold;
}

.stageTwoContainerRight h1 {
    font-weight: 900;
}

.stageTwoContainerRight p {
    color: #808080;
}

.stageTwoContainerRightSpanContainer {
    display: flex;
    justify-content: space-between;
}

.stageTwoContainerRightSpanContainer b {
    color: #E61C5D;
    font-size: 2rem;
}